body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}
.nav-links li a:hover {
    color: #ffcc00; /* Changement de couleur lors du survol */
}
.classement {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover{
    background-color: rgb(196, 214, 192);
}




/* Vos styles existants restent les mêmes */

/* Ajoutez des styles pour la responsivité */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        margin-top: 10px;
    }

    .nav-links li {
        margin-right: 10px;
    }

    .classement {
        padding: 10px;
    }

    table {
        font-size: 12px; /* Réduire la taille de la police pour les petits écrans */
    }
}

/* Vos styles existants restent les mêmes */

/* Ajoutez des styles pour la responsivité des tablettes */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

/* Ajoutez des styles pour la responsivité des appareils mobiles */
@media only screen and (max-width: 480px) {
    .navbar {
        padding: 5px 0; /* Réduire le rembourrage de la barre de navigation */
    }

    .nav-links {
        flex-direction: column; /* Afficher les liens de navigation en colonne */
        align-items: flex-start;
    }

    .nav-links li {
        margin: 5px 0; /* Réduire la marge entre les éléments de la barre de navigation */
    }

    .classement {
        padding: 10px; /* Augmenter le rembourrage autour du tableau pour les petits écrans */
    }

    table {
        font-size: 12px; /* Réduire la taille de la police pour les petits écrans */
    }
}
