
<body>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <form id="deleteDeviceForm">
    <label for="idUtilisateur">ID du dispositif :</label><br>
    <input type="text" id="idUtilisateur" name="idUtilisateur"><br><br>
    
    <button type="button" onclick="deleteDevice()">Supprimer</button>
</form>

    


      
     </body>
</html>
