<body>
    <br>
    <br>
    <br>
    <div class="contentTableau">

        <table id="userTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>But</th>
                    <th>Victoire</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                <!-- Les lignes du tableau des dispositifs seront générées ici -->
            </tbody>
        </table>
        <button onclick="showUserTable()">Afficher</button>
    </div>
</body>